* {
    margin: 0 3% 0 3%;
}

nav ul, #section5 ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
 nav li{
    float: left;
    width:25%;
  }
  
  
 nav li a{
    margin-top:20px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 nav li a:hover {
    background-color: lightblue;
  }

  figcaption{
    font-style: italic; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .title{
    text-align: center; 
    margin: 20px 0px 20px 0px;
  }

  .subtitle{
    margin: 20px 0px 15px 0px; 
    text-align: center;
  }

  #section1{
    background-color: lightblue;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px black;
  }


  #section2{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #section2 li a{
    margin-top:20px;
    display: block;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
  }

  #section2 li a:hover {
    background-color: lightblue;
  }

  #section3{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #section4 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  #section4 td, #section4 th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #section4 tr:nth-child(even){background-color: #f2f2f2;}
  
  #section4 tr:hover {background-color: #ddd;}
  
  #section4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightblue;
    color: black;
    text-align: center;
  }

  table{
    margin: auto;
    width:50%;
  }

  #section5 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #section5 li{
    float: left;
    margin-left: 12%;
    width:2%;
  }

  #section5 li a{
    margin-top:20px;
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
  }

  #footer {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .f-section1{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex: 33%;
    order: 3;
    max-width:100%;
    flex-wrap: nowrap;
  }

  .f-subsection1{
    float: left;
    width: 33.33%;
    margin: 10px;
    border: solid 5px lightblue;
    border-radius: 10px;
    background-color:azure;
  }


  .f-text {
    text-align: center;
    align-items: center;
    font-size: 22px;
}



  .content{
    margin-bottom: 20px;
  }
